.myHeader {
  background: #171717;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.25);
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 43px;
  line-height: 52px;

  color: #ffffff;
}

.title2 {
  font-family: Montserrat;
  color: #ffffff;
  font-weight: 800;
  text-align: right;
  width: 10px;
  line-height: 1;
}

.logoContent {
  color: white;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  font-family: "Archivo Black";
  margin-left: 20px;
  line-height: 1;
}

.logopart1 {
  /* height: 45px; */
  font-size: 45px;
  font-weight: 600;
  margin-left: 10px;
}

.logopart2 {
  text-align: right;
  font-size: 22px;
  font-weight: 600;
}
