@import url("https://fonts.googleapis.com/css2?family=Montserrat:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.dropdown:hover .dropdown-menu {
  display: block;
}

.home {
  font-family: "Montserrat", sans-serif;
}

.nftmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .nftmenu {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    overflow: auto;
    display: flex;
    justify-content: flex-start;
  }
}

.nftitems {
  width: 300px;
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 255, 0, 0.25);
  margin-left: 0;
}

@media only screen and (max-width: 850px) {
  .nftitems {
    margin-left: 0px;
  }
}

.earthsvg {
  width: 90%;
  position: absolute;
  top: 360px;
  margin-left: 50px;
  color: #dc1fff;
  font-family: "Archivo Black";
}

@media only screen and (max-width: 650px) {
  .earthsvg {
    position: absolute;
    text-align: center;
    top: 300px;
    margin-left: 0;
    /* left: 20px; */
  }
}

@media only screen and (max-width: 650px) {
  .nftcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nftitem {
  width: 350px;
  height: 370px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 650px) {
  .nftitem {
    width: 240px;
    height: 320px;
  }
}

@media only screen and (max-width: 650px) {
  .marketlayout {
    display: flex;
    flex-direction: column;
  }
}

.filterbar {
  background-color: rgba(196, 196, 196, 0);
  width: 18%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .filterbar {
    background-color: rgba(196, 196, 196, 0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 650px) {
  .filteritem {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
  }
}

@media only screen and (max-width: 650px) {
  .filtercontent {
    width: 60%;
  }
}

.filtername {
  color: #000000;
  font-weight: 600;
  font-size: 50px;
  font-style: normal;
  line-height: 73px;
}

@media only screen and (max-width: 650px) {
  .filtername {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 650px) {
  .eachfilter {
    height: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .secondfilter {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

@media only screen and (max-width: 650px) {
  .mainintro {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 20px;
  }
}

.infos {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .infos {
  }
}

.nftpic {
  width: 40%;
}

@media only screen and (max-width: 650px) {
  .nftpic {
    width: 100%;
    margin-bottom: 10px;
  }
}

.nftinfo {
  width: 60%;
}

@media only screen and (max-width: 650px) {
  .nftinfo {
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .nftdetail {
    display: flex;
    flex-direction: column;
  }
}

.description {
  width: 55%;
}

@media only screen and (max-width: 650px) {
  .description {
    width: 100%;
  }
}

.bidinfo {
  width: 45%;
}

@media only screen and (max-width: 650px) {
  .bidinfo {
    width: 100%;
  }
}

.banner {
  height: 400px;
}

@media only screen and (max-width: 650px) {
  .banner {
    height: 300px;
  }
}

.map {
  position: absolute;
  right: 10%;
  top: 120px;
}

@media only screen and (max-width: 650px) {
  .map {
    position: absolute;
    right: 3%;
    top: 125px;
  }
}

.headerlayout {
  display: flex;
  flex-direction: row;
}

.headerinfo {
  font-family: Poppins;
}

@media only screen and (max-width: 650px) {
  .headerlayout {
    display: flex;
    flex-direction: column;
  }
  .headerinfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
